.successRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 80%;
  background: rgb(250, 184, 184);
  color: white;
}

@media only screen and (max-width: 600px) {
  .successRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
